
*{
    margin: 0;
     padding: 0; /*for removing default margin and padding */
      box-sizing: border-box;/* padding ke border er vitorei rakhbe */

}

    /* SHARED STYLE */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;}

  .btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
 
/* main style */

.logo h2{
    font-size: 45px;
    font-weight: 900; 
}
.color-orange{
    color:#FD6E0A;

}
header{ 
    background-color: #fff8f3;
    padding-top: 50px;
}
 nav{width: 71%;   /*width ratio = 1140/1600=71 % */
    max-width: 1140px;
    /* border: 1px solid red; dekhar jonno nislam, j text er ki obosta */
    margin:0px auto ; /*icca moto margin nibe */
    display: flex;
justify-content: space-between;
align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;

}

